

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  background-repeat: no-repeat;
  height: 100vh;
}

:root {
  --background: #fff;
  --container-primary: #ffffff;
  --container: #1d1d1d;
  --border: #2A3B47;
  --text-secondary: #FF3B3F;
  --main: #838383;
  --text-primary: #000;
  --accent: #52A5E0;
  --shadow: rgba(15, 15, 15, 0.404);
  --contrast: #233d4d;
  --contrastV2: #172934;
}